<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 col-lg-5">
        <div class="login-wrap p-4 p-md-5">
          <div class="icon d-flex align-items-center justify-content-center">
            <span class="fa fa-user-o"></span>
          </div>
          <h3 class="text-center mb-4">S'inscrire</h3>
          <form action="#" class="login-form">
            <div class="form-group">
              <input
                ngModel
                name="codeApogee"
                id="codeApogee"
                type="text"
                class="form-control rounded-left"
                placeholder="Code apogée"
                required
              />
            </div>
            <div class="form-group">
              <input
                ngModel
                name="nom"
                id="nom"
                type="text"
                class="form-control rounded-left"
                placeholder="Nom"
                required
              />
            </div>
            <div class="form-group">
              <input
                ngModel
                name="prenom"
                id="prenom"
                type="text"
                class="form-control rounded-left"
                placeholder="Prénom"
                required
              />
            </div>
            <!-- <div class="form-group">
              <input
                ngModel
                name="filiere"
                id="filiere"
                type="text"
                class="form-control rounded-left"
                placeholder="Filière"
                required
              />
            </div> -->
            <div class="form-group">
              <select
                class="form-control"
                id="exampleFormControlSelect1"
                placeholder="Filière"
              >
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <input
                ngModel
                name="email"
                id="email"
                type="email"
                class="form-control rounded-left"
                placeholder="Email"
                required
              />
            </div>
            <div class="form-group d-flex">
              <input
                ngModel
                name="password1"
                id="password1"
                type="password"
                class="form-control rounded-left"
                placeholder="Mot de passe"
                required
              />
            </div>
            <div class="form-group d-flex">
              <input
                ngModel
                name="password2"
                id="password2"
                type="password"
                class="form-control rounded-left"
                placeholder="Confirmation du mot de passe"
                required
              />
            </div>
            <div class="form-group">
              <button
                type="submit"
                class="form-control btn btn-primary rounded submit px-3"
              >
                S'inscrire
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
